.nav {
    position: sticky;
    top: 0px;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(235,235,235,1);
}
ul {
    list-style-type: none;

}
.nav ul {
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    list-style-type: none;

}

.nav li {
    width: 100%;
    max-width: 125px;
    padding: 20px 5px 20px 5px;
    text-align: center;
}

.nav li.User {
    margin-left: auto;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center {
    text-align: center;
}